.convenient {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(180deg, #222222 0%, #1a1a1a 100%);

  background-color: #222222;
  padding: 64px 20px;
}

.convenient__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

.convenient__info--top {
  margin-bottom: 34px;
}

.convenient__title {
  display: inline-block;
  width: 262px;
  margin-bottom: 24px;
  font-family: "Dewi";
  font-weight: 700;
  font-size: 36px;
  line-height: 0.94;
  text-align: left;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.wrapper__descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.convenient__descr {
  display: inline-block;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
}

.convenient__descr--first {
  margin-bottom: 16px;
  width: 280px;
}

.convenient__descr--second {
  width: 280px;
}

.convenient__descr--third {
  margin-bottom: 24px;
  width: 264px;
  opacity: 0.5;
}

.convenient__wrapper {
  position: relative;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .convenient__image {
  background-image: url("../../../../assets/images/mobile/truck.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1177px;
  height: 336px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: -631px;
} */

.convenient__button a {
  border: none;
  display: inline-block;
  transition-duration: 500ms;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #18bbfe;
  font-family: "Inter Tight";
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.convenient__button a:hover {
  transition-duration: 500ms;
  background-color: #d5edff;
  color: #18bbfe;
}

@media screen and (min-width: 768px) {
  .convenient {
    padding: 56px 20px 64px 20px;
  }

  .convenient__container {
    width: 100%;
  }

  .convenient__info--top {
    margin-bottom: 40px;
  }

  .convenient__title {
    font-size: 56px;
    width: 635px;
    margin-bottom: 40px;
  }

  .convenient__descr--first {
    width: 267px;
  }

  .convenient__descr--second {
    width: 345px;
  }

  .convenient__descr--third {
    width: 350px;
  }

  .convenient__wrapper {
    margin-bottom: 40px;
    width: 100%;
  }

  /* .convenient__image {
    background-image: url("../../../../assets/images/tablet/truck.png");
    width: 1494px;
    right: -196px;
  } */
}

@media screen and (min-width: 1180px) {
  .convenient {
    padding: 112px 100px 80px;
    height: 100vh;
  }

  .convenient__container {
    align-items: center;
  }

  .convenient__wrapper {
    height: 304px;
    margin-bottom: 73px;
  }

  .convenient__title {
    margin-bottom: 0;
  }

  .convenient__info--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .convenient__info--bottom {
    display: flex;
    flex-direction: row;
  }

  .wrapper__descr {
    margin-top: 15px;
    margin-bottom: 67px;
  }

  .convenient__descr--first {
    margin-bottom: 24px;
    width: 283px;
  }

  .convenient__descr--second {
    width: 380px;
  }

  .convenient__descr--third {
    width: 275px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .convenient__image {
    width: 1482px;
    height: 366px;
  }
}
