.team {
  padding: 64px 23px 40px 20px;
  background-color: #222222;
}

.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 280px;
  align-items: flex-start;
}

.team__title {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 24px;
}

.team__descr {
  margin-bottom: 32px;
  display: inline-block;
  width: 260px;
}

.team__name,
.team__business,
.team__descr {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}
.team__wrapper {
  margin: 0;
}

.team__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.team__item:not(:last-child) {
  margin-bottom: 35px;
}

.team__item {
  display: flex;
  align-items: center;
}

.team__avatar {
  width: 132px;
  height: 132px;
  margin-right: 16px;
}

.team__name {
  margin-bottom: 8px;
}

.team__business {
  width: 136px;
  display: inline-block;
  color: #828282;
}

@media screen and (min-width: 768px) {
  .team__container {
    width: auto;
  }

  .team__title {
    font-size: 56px;
  }

  .team__descr {
    width: 325px;
  }

  .team__wrapper {
    margin: 0 auto 0 50px;
  }

  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(51px * -1);
    margin-right: calc(51px * -1);
    min-width: 768px;
  }

  .team__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .team__item {
    margin-right: 51px;
  }

  .team__item:not(:nth-child(11)) {
    margin-bottom: 40px;
  }

  .team__avatar {
    margin: 0 0 16px 0;
  }
}
