.traffic {
  background-color: #edf6ff;
  height: 100vh;
}

.traffic__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 20px;
}

.traffic__title {
  display: inline-block;
  width: 276px;
  margin-bottom: 24px;
  font-family: "Dewi";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.04em;
  color: #121c46;
}

.traffic__descr {
  display: inline-block;
  width: 286px;
  margin-bottom: 22px;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #121c46;
}

.traffic__list,
.traffic__item {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.traffic__item:not(:last-child) {
  margin-bottom: 49px;
}

.traffic__subheading {
  display: inline-block;
  width: 247px;
  margin-bottom: 8px;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #18bbfe;
}

.traffic__heading {
  display: inline-block;
  width: 280px;
  margin-bottom: 26px;
  font-family: "Dewi";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: -0.04em;
  color: #18bbfe;
}

.traffic__img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
}

.traffic__img--auto {
  background-image: url("../../../../assets/images/mobile/transportation/auto.png");
  height: 135px;
}

.traffic__img--rail {
  background-image: url("../../../../assets/images/mobile/transportation/rail.png");
  height: 115px;
}

.traffic__img--shipping {
  background-image: url("../../../../assets/images/mobile/transportation/shipping.png");
  height: 125px;
}

@media screen and (min-width: 768px) {
  .traffic__container {
    align-items: flex-start;
  }

  .traffic__heading,
  .traffic__title {
    font-size: 56px;
    width: 607px;
  }

  .traffic__title {
    margin-bottom: 40px;
  }

  .traffic__descr {
    font-size: 18px;
    width: 405px;
    margin-bottom: 40px;
  }

  .traffic__subheading {
    font-size: 18px;
    width: auto;
    margin-bottom: 35px;
  }

  .traffic__img--auto {
    background-image: url("../../../../assets/images/tablet/transportation/auto.png");
    height: 237px;
    width: 531px;
  }

  .traffic__img--rail {
    background-image: url("../../../../assets/images/tablet/transportation/rail.png");
    height: 255px;
    width: 537px;
  }

  .traffic__img--shipping {
    background-image: url("../../../../assets/images/tablet/transportation/shipping.png");
    height: 288px;
    width: 555px;
  }
}

@media screen and (min-width: 1180px) {
  .traffic {
    padding: 112px 96px 121px 54px;
  }

  .traffic__info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .traffic__title {
    width: 780px;
    margin-bottom: 96px;
  }

  .traffic__descr {
    margin-bottom: 0;
    width: 362px;
    margin-top: 20px;
    margin-right: 50px;
  }

  .traffic__list {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .traffic__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .traffic__heading {
    width: 370px;
  }

  .traffic__subheading {
    width: 233px;
    margin-bottom: 24px;
  }

  .traffic__item:not(:last-child) h2 {
    margin-bottom: 70px;
  }

  .traffic__item:last-child h2 {
    margin-bottom: 60px;
  }

  .traffic__img--auto {
    height: 147px;
    width: 306px;
  }

  .traffic__img--rail {
    height: 146px;
    width: 357px;
  }

  .traffic__img--shipping {
    height: 138px;
    width: 413px;
  }
}
