.containers {
  background-color: #ffffff;
}

.containers__container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 48px 20px;
  max-width: 320px;
}

.containers__title {
  margin-bottom: 24px;
}

.containers__title,
.containers__heading {
  font-family: "Dewi";
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #121c46;
  font-size: 20px;
  line-height: 1.2;
}

.tanks__list {
  display: flex;
  flex-wrap: wrap;
}

.common__item {
  margin-bottom: 43px;
}

.containers__wrapper {
  width: 280px;
  height: 221px;
  background-color: #edf6ff;
  padding: 26px 26px 25px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.tanks__wrapper {
  margin-bottom: 22px;
  width: 280px;
  height: 221px;
  background-color: #edf6ff;
  padding: 16px;
  display: flex;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.containers__img {
  width: 120px;
  height: 83px;
}

.containers__heading {
  margin-bottom: 16px;
  margin-bottom: 16px;
}

.containers__descr {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #121c46;
  margin-bottom: 16px;
}

.containers__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(7px * -1);
  margin-bottom: 32px;
}

.containers__item {
  display: flex;
  align-items: center;
  width: 142px;
  margin-right: 7px;
}

.containers__item:nth-child(2n + 2) {
  width: 120px;
}

.containers__svg {
  margin-right: 6px;
}

.containers__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containers__subheading {
  margin-bottom: 4px;
}

.containers__subheading,
.parameter__bold {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  color: #a2a2a2;
}

.parameter__bold {
  margin-right: 4px;
  margin-left: 2px;
}

.containers__value,
.containers__parameter {
  font-family: "Inter Tight";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  color: #121c46;
}

.container__btn {
  border: none;
  display: inline-block;
  transition-duration: 500ms;
  border-radius: 6px;
  background-color: #18bbfe;
  font-family: "Inter Tight";
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  padding: 9px 43px;
  font-size: 16px;
  line-height: 1.5;
}

.container__btn:hover {
  transition-duration: 500ms;
  background-color: #d5edff;
  color: #18bbfe;
}

@media screen and (min-width: 768px) {
  .containers__container {
    padding: 40px 20px 34px 20px;
    max-width: 768px;
  }

  .containers__descr {
    font-size: 16px;
  }

  .containers__common {
    max-width: 354px;
  }

  .tanks__wrapper {
    width: 354px;
    height: 221px;
  }

  .containers__wrapper {
    width: 354px;
    height: 221px;
    padding: 21px 51px 20px 68px;
  }

  .containers__img {
    width: 160px;
    height: 97px;
  }

  .common__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(20px * -1);
    margin-bottom: 43px;
  }

  .common__item {
    margin-bottom: 0;
  }

  .common__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1180px) {
  .containers__container {
    padding: 42px 56px 44px;
    max-width: 1180px;
  }

  .containers__wrapper {
    width: 372px;
    height: 221px;
    padding: 11px 42px 10px 69px;
  }

  .tanks__wrapper {
    width: 372px;
    height: 221px;
  }

  .containers__common {
    max-width: 372px;
  }

  .common__list {
    margin-bottom: 60px;
  }
}
