.menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  transform: translateX(120%);
  transition-duration: 700ms;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  background-color: #edf6ff;
  padding: 20px 20px 30px 24px;
}

.menu--open {
  z-index: 10;
  transform: translateX(0%);
  transition-duration: 700ms;
}

.menu__blueButton {
  margin-bottom: 16px;
}

.closeBtn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #d4edff;
  border-radius: 6px;
  padding: 11px;
  margin-bottom: 34px;
}

.address {
  margin-top: auto;
}

.address div:not(:last-child) {
  margin-bottom: 44px;
}

@media screen and (min-width: 1180px) {
  .menu {
    flex-direction: row;
    align-items: center;
    position: static;
    justify-content: space-between;
    width: 100%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    z-index: 0;
    height: auto;
    padding: 0;
  }

  .closeBtn__wrapper {
    display: none;
  }

  .menu__blueButton {
    margin-bottom: 0;
    order: 2;
  }

  .address {
    display: none;
  }
}
