/* HEADER BLUE */

.header {
  background-color: #edf6ff;
  position: fixed;
  z-index: 20;
  width: 100%;
  transform: translate(700ms);
  -webkit-transform: translate(700ms);
  -moz-transform: translate(700ms);
  -ms-transform: translate(700ms);
  -o-transform: translate(700ms);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #edf6ff;
  padding: 20px;
}

.header__logo {
  cursor: pointer;
  fill: #18bbfe;
  display: inline-block;
  transition-duration: 0.2s;
}

.header__logo:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.openBtn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 42px;
  height: 42px;
  background-color: #d4edff;
  border-radius: 6px;
  padding: 11px;
}

.openBtn {
  padding: 0;
}

.openBtn__top,
.openBtn__middle,
.openBtn__bottom {
  position: absolute;
}

.openBtn__top {
  top: 11px;
  left: 10px;
}

.openBtn__middle {
  top: 20px;
  left: 10px;
}

.openBtn__bottom {
  top: 29px;
  left: 10px;
}

.header__tel {
  display: none;
}

@media screen and (min-width: 1180px) {
  .header {
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent;
  }

  .header__container {
    padding: 22px 40px 22px 40px;
  }

  .header__logo {
    margin-right: 56px;
  }

  .openBtn__wrapper {
    display: none;
  }

  .header__tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__tel a:first-child {
    margin-bottom: 9px;
  }

  .header__tel a {
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #18bbfe;
    width: 111px;
  }
}

/* HEADER TRANSPARENT OR CASES */

.header__tel--light a {
  color: #ffffff;
}

.header__logo--white {
  fill: #ffffff;
}

.header--transparent {
  /* position: relative;
  top: 0;
  right: 0; */
  background-color: transparent;
  z-index: 20;
}

.header__container--transparent {
  background-color: #18bbfe;
  /* background-color: transparent; */
}

.header--light,
.header__container--light {
  background-color: #ffffff;
}

@media screen and (min-width: 1180px) {
  .header__container--transparent {
    padding: 22px 40px 37px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .header__container--transparent,
  .header__container {
    padding: 22px 58px 37px 58px;
  }
}

.hideHeader {
  display: none;
  transform: translate(700ms);
  -webkit-transform: translate(700ms);
  -moz-transform: translate(700ms);
  -ms-transform: translate(700ms);
  -o-transform: translate(700ms);
}
