/* HEADER BLUE */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: #edf6ff;
}

.header__logo {
  cursor: pointer;
  fill: #18bbfe;
}

.header__logo:hover {
}

.openBtn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 42px;
  height: 42px;
  background-color: #d4edff;
  border-radius: 6px;
  padding: 11px;
}

.openBtn {
  padding: 0;
}

.openBtn__top,
.openBtn__middle,
.openBtn__bottom {
  position: absolute;
}

.openBtn__top {
  top: 11px;
  left: 10px;
}

.openBtn__middle {
  top: 20px;
  left: 10px;
}

.openBtn__bottom {
  top: 29px;
  left: 10px;
}

.header__tel {
  display: none;
}

@media screen and (min-width: 1180px) {
  .header {
    padding: 22px 58px 37px 58px;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: transparent;
  }

  .header__logo {
    margin-right: 56px;
  }

  .openBtn__wrapper {
    display: none;
  }

  .header__tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 159px;
  }

  .header__tel a:first-child {
    margin-bottom: 9px;
  }

  .header__tel a {
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #18bbfe;
    width: 111px;
  }
}

/* HEADER TRANSPARENT */

.header--transparent {
  background-color: transparent;
}
