.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.nav__item--footer:not(:last-child) {
  margin-bottom: 24px;
}

.nav__link {
  transition-duration: 500ms;
  font-family: "Dewi";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #121c46;
}

.nav__link:active,
.nav__link:focus,
.nav__link:hover {
  transition-duration: 500ms;
  color: #18bbfe;
}

.nav--footer {
  margin-top: 40px;
}

.nav__link--footer {
  transition-duration: 500ms;
  text-decoration: underline;
  color: #ffffff;
  font-size: 12px;
  opacity: 1;
}

.nav__link--footer:active,
.nav__link--footer:focus,
.nav__link--footer:hover {
  transition-duration: 500ms;
  opacity: 0.3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .nav__list--footer {
    flex-direction: row;
  }

  .nav__item--footer:not(:last-child) {
    margin-bottom: 0;
  }

  .nav__item--footer:not(:first-child) {
    margin-left: 40px;
    margin-right: 0;
  }

  .nav__item--footer:first-child {
    margin-left: 7px;
  }

  .nav--footer {
    margin-top: 0;
  }
}

@media screen and (min-width: 1180px) {
  .nav__list {
    flex-direction: row;
  }

  .nav__link {
    font-family: "Inter Tight";
    font-weight: 600;
    color: #18bbfe;
    text-decoration: underline;
    -moz-text-decoration-line: underline;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-right: 40px;
  }

  .nav__link--footer {
    color: #ffffff;
  }
}
