.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-image: url("../../../assets/images/mobile/figures/background.png");
}

.advantage__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage__title,
.advantage__subtitle {
  display: inline-block;
  font-family: "Dewi";
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.advantage__title {
  width: 260px;
  font-size: 36px;
  line-height: 0.9;
  margin-bottom: 24px;
}

.advantage__subtitle {
  font-size: 18px;
  margin-bottom: 32px;
}

.figures {
  position: relative;
  height: 479px;
  width: 280px;
}

.figures__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.figures__item--polygon {
  background-image: url(../../../assets/images/mobile/figures/polygon.png);
  width: 132px;
  height: 190px;
  top: 0;
}
.figures__item--ellipse {
  background-image: url(../../../assets/images/mobile/figures/ellipse.png);
  width: 132px;
  height: 183px;
  right: 0;
  top: 0px;
}
.figures__item--rectangle {
  background-image: url(../../../assets/images/mobile/figures/rectangle.png);
  width: 132px;
  height: 190px;
  bottom: 153px;
  left: 0;
}
.figures__item--union {
  background-image: url(../../../assets/images/mobile/figures/union.png);
  width: 132px;
  height: 133px;
  bottom: 153px;
  right: 0;
}
.figures__item--subtract {
  background-image: url(../../../assets/images/mobile/figures/subtract.png);
  width: 280px;
  height: 137px;
  bottom: 0;
  right: 0;
}

.figures__text {
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #82b5e8;
  position: absolute;
  display: inline-block;
}

.figures__text--polygon {
  top: 46px;
}

.figures__text--ellipse {
  bottom: 39px;
}

.figures__text--rectangle {
  bottom: 85px;
}

.figures__text--union {
  bottom: 7px;
  display: inline-block;
  width: 74px;
}

.figures__text--subtract {
  bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantage {
    position: relative;
    z-index: 10;
    padding: 56px 20px;
  }

  .advantage__title {
    font-size: 56px;
    width: 579px;
  }

  .advantage__subtitle {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .figures {
    width: 708px;
    height: 506px;
  }

  .figures__item--polygon {
    background-image: url(../../../assets/images/tablet/figures/polygon.png);
    width: 224px;
    height: 194px;
    top: 0;
  }

  .figures__item--ellipse {
    background-image: url(../../../assets/images/tablet/figures/ellipse.png);
    width: 199px;
    height: 277px;
    right: 270px;
    top: 0px;
  }

  .figures__item--rectangle {
    background-image: url(../../../assets/images/tablet/figures/rectangle.png);
    width: 188px;
    height: 288px;
    bottom: 0;
    left: 17px;
  }

  .figures__item--union {
    background-image: url(../../../assets/images/tablet/figures/union.png);
    width: 209px;
    height: 209px;
    bottom: 0;
    right: 265px;
  }

  .figures__item--subtract {
    background-image: url(../../../assets/images/tablet/figures/subtract.png);
    width: 243px;
    height: 496px;
    bottom: 0;
    right: 0;
  }

  .figures__text--polygon {
    top: 85px;
  }

  .figures__text--ellipse {
    bottom: 63px;
    width: 82px;
  }

  .figures__text--rectangle {
    bottom: 23px;
  }

  .figures__text--union {
    bottom: 23px;
    width: 121px;
  }

  .figures__text--subtract {
    bottom: 23px;
  }
}
