.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf6ff;
  padding: 5px 20px 34px 20px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 540px;
}

.hero__title {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -0.04em;
  color: #121c46;
  display: inline-block;
  width: 279px;
  margin-bottom: 33px;
}

.hero__background {
  position: relative;
  height: 430px;
  margin-bottom: 40px;
}

.hero__descr {
  display: inline-block;
  width: 280px;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 14px;
  color: #121c46;
}

.hero__wrapper {
  max-width: 320px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.hero__letter,
.hero__truck {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__letter--left {
  width: 212px;
  height: 383px;
  top: 0px;
  left: -69px;
  z-index: 3;
  background-image: url("../../../assets/images/mobile/letter/letter-left.png");
}

.hero__letter--right {
  width: 208px;
  height: 384px;
  top: 0px;
  right: -55px;
  z-index: 4;
  background-image: url("../../../assets/images/mobile/letter/letter-right.png");
}

.hero__letter--bottom {
  width: 200px;
  height: 441px;
  z-index: 6;
  left: -92px;
  bottom: -154px;
  background-image: url("../../../assets/images/mobile/letter/letter-bottom.png");
}

.hero__truck {
  z-index: 5;
  bottom: 8px;
  right: -70px;
  width: 464px;
  height: 300px;
  background-image: url("../../../assets/images/mobile/container-hero.png");
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 0;
  }

  .hero__container {
    max-width: 768px;
  }

  .hero__title {
    order: 1;
    width: 660px;
    font-size: 80px;
    line-height: 0.8;
    margin-bottom: 40px;
  }

  .hero__descr {
    order: 2;
    width: 601px;
    margin-bottom: 74px;
  }

  .hero__background {
    order: 3;
    width: 768px;
    margin-bottom: 0;
    height: 700px;
  }

  .hero__wrapper {
    width: 100%;
    max-width: 768px;
  }

  .hero__letter--left {
    width: 387px;
    height: 701px;
    top: 0px;
    left: 41px;
    background-image: url("../../../assets/images/tablet/letter/letter-left.png");
  }

  .hero__letter--right {
    width: 380px;
    height: 702px;
    top: 0px;
    right: -13px;
    background-image: url("../../../assets/images/tablet/letter/letter-right.png");
  }

  .hero__letter--bottom {
    width: 271px;
    height: 445px;
    top: 288px;
    left: 85px;
    background-image: url("../../../assets/images/tablet/letter/letter-bottom.png");
  }

  .hero__truck {
    bottom: -150px;
    right: -23px;
    width: 851px;
    height: 602px;
    background-image: url("../../../assets/images/tablet/container-hero.png");
  }
}

@media screen and (min-width: 1180px) {
  .hero {
    padding: 121px 52px 0px 52px;
  }

  .hero__container {
    position: relative;
    max-width: 1280px;
  }

  .hero__title,
  .hero__descr {
    position: absolute;
    z-index: 6;
    top: 42px;
  }

  .hero__title {
    margin-bottom: 0;
    left: -80px;
  }

  .hero__descr {
    right: -70px;
    width: 433px;
    font-size: 18px;
  }

  .hero__background {
    width: 1180px;
  }

  .hero__letter--left {
    width: 514px;
    height: 931px;
    top: 0px;
    left: -80px;
    background-image: url("../../../assets/images/desktop/letter/letter-left.png");
  }

  .hero__letter--right {
    width: 504px;
    height: 931px;
    top: 0px;
    right: -133px;
    background-image: url("../../../assets/images/desktop/letter/letter-right.png");
  }

  .hero__letter--bottom {
    width: 359px;
    height: 591px;
    top: 365px;
    left: -16px;
    background-image: url("../../../assets/images/desktop/letter/letter-bottom.png");
  }

  .hero__truck {
    bottom: -411px;
    right: -156px;
    width: 1130px;
    height: 799px;
    background-image: url("../../../assets/images/desktop/container-hero.png");
  }
}
